<div>
<h1>Log in to HomeAgain</h1>

<form role="form" method="post" id="loginForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<p class="text-error">{{error_text}}</p>

</div>