<div class="panel panel-default">
	  <div class="panel-heading text-center"><h2>{{name}}</h2></div>
	  <div class="panel-body text-center">
	    <div class="sensors row">
    	</div>
	  </div>
</div>
