<div class="col-sm-4 col-md-4 col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading text-center">{{name}}</div>
	  <div class="panel-body text-center">
	    	<canvas class="canvas" ></canvas>
	  </div>
	</div>
</div>